@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  position: fixed;
  overflow: hidden;
}

/* html, body {
  overscroll-behavior-y: none;
} */

body > .mainwrapper {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */
}